<!doctype html>
<html lang="ko">

<head>
  <title>제과 제빵 기능사 실기 시험</title>
  <meta charset="utf-8">
  <meta http-equiv="Content-Script-Type" content="text/javascript">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- <link rel="shortcut icon" href="http://www.mins01.com/favicon.ico"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <script src="/js/ForGoogle.js"></script>
  <!-- google analytics -->
  <script>
    if (window.ForGoogle) { ForGoogle.analytics() } else { console.log("failure : ForGoogle.analytics()"); }
  </script>

  <!-- 부트스트랩 아이콘 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">


  <!-- 부트스트랩 5.3.x -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>



  <!-- linkify -->
  <script src="https://unpkg.com/linkifyjs/dist/linkify.min.js"></script>
  <script src="https://unpkg.com/linkify-html/dist/linkify-html.min.js"></script>

  <!-- vue.js -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
  <!-- 개발용 (Development) -->
  <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
  <script src="https://unpkg.com/vue@3.5.39/dist/vue.global.js"></script>

  <!-- 배포용 (Production) -->
  <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script> -->

  <!-- 뷰 라우트 -->
  <!-- <script src="https://unpkg.com/vue-router@4/dist/vue-router.global.prod.js"></script> -->
  <script src="https://unpkg.com/vue-router@4.6.4/dist/vue-router.global.prod.js"></script>




  <!-- 페이지 데이터 -->

  <script src="index-questions-data.js"></script>
  <script src="index-solutions-data.js"></script>
  <script src="index-categories-data.js"></script>


  <!-- meta og -->

  <meta property="og:title" content="제과 제빵 기능사 실기 시험">
  <meta property="og:description" content="제과 제빵 기능사 실기 시험">
  <!-- <meta property="og:image" content="http://www.mins01.com/img/logo.gif"> -->
  <!-- <meta property="og:image:width" content="190">
  <meta property="og:image:height" content="70" /> -->
  <meta property="og:site_name" content="제과 제빵 실기 시험" />
  <meta property="og:type" content="website">

  <!-- //meta og -->


</head>

<body>
  <div  id="app">
    <div class="container">
      <div class="my-3">
        <h1>제과 제빵 기능사 실기 시험 - 요약표</h1>
        <div class="card my-3">
          <div class="card-body">
            <a class="btn btn-link" href="./index.html">실기 시험</a>
            <a class="btn btn-link" href="./checklist-supplies.html">체크리스트-준비물</a>
            <a class="btn btn-link" href="./summary.html">요약표</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container my-3">
      <h4>제빵 오븐 정리</h4>
      
      <div class="card">
        <div class="card-body">
          <h5>공통</h5>
          <ul>
            <li>
              꺼낼 시기는 빵의 색을 보고 결정.
              <div class="form-text">* 강의에 따라 온도와 시간에 차이가 있을 수 있음. 수치는 참고용.</div>
            </li>
            <li>식빵류(비상식빵/우유식빵/버터톱식빵/옥수수식빵) 170/180 30분</li>
            <li>단과자나 충전물이 있다면 190/140 에 15분 정도 구움(12분에 색을 확인하자)</li>
          </ul>
          
          <h5>특이</h5>
          <ul>
            <li>소세지빵 220/160 15분</li>
            <li>베이글 210/190 18분</li>
            <li>그리시니 200/160 15~20분</li>
            <li>풀만식빵 190/190 30~35분</li>
            <li>통밀빵 190/160 20분</li>
            <li>밤식빵 170/170 30분</li>
            <li>호밀빵 200/180 10분 -> 180/180 10분</li>
            <li>쌀식빵 180/180 10분 -> 160/180 20분</li>
          </ul>
        </div>
      </div>

    </div>
    <div class="container my-3">
      <h4>제빵 2차발효 식빵틀 정리</h4>
      
      <div class="card">
        <div class="card-body">
          <ul>
            <li v-for="(v,k) in data.summariesData.baking.filter((el)=>{ return el.summary?.특징?.includes('틀 ') })">
              {{v.question.number}}. {{v.question.label}} : {{v.summary.특징.match(/틀 .*/)?.[0]}}
            </li>
            
          </ul>
        </div>
      </div>

    </div>
    <div class="container">
      <h4>제빵</h4>
    </div>
    <div class="container-fluid" style="max-width: 1200px;">
      <table class="table table-bordered">
        <thead class="sticky-top">
          <tr class="table-success text-center">
            <th class="text-nowrap border border-1 sticky-top  start-0 table-info" style="min-width: 200px;" v-for="(v,k) in data.summariesData.baking_head">{{v}}</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(vh,kh) in data.summariesData.baking_body">
            <template v-for="(v,idx) in vh">
              <th v-if="idx==0" class=" border border-1 table-success position-sticky start-0 text-center text-nowrap" style="white-space: break-spaces;" >
                <a :href="`./index.html#/?q2=${data.summariesData.baking[kh].key}`">{{v}}</a>
              </th>
              <td v-else class=" border border-1 text-center" style="white-space: break-spaces;" >{{v}}</td>
    
            </template>
          </tr>
        </tbody>
      </table>
    </div>  

  </div>


      
      

    


  <script src="summary-app.js">

  </script>
  <script>
    window.addEventListener('hide.bs.modal', () => {
      document.activeElement?.blur();
    });
  </script>
</body>

</html>