<!doctype html>
<html lang="ko">

<head>
  <title>제과 제빵 기능사 실기 시험</title>
  <meta charset="utf-8">
  <meta http-equiv="Content-Script-Type" content="text/javascript">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- <link rel="shortcut icon" href="http://www.mins01.com/favicon.ico"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <script src="/js/ForGoogle.js"></script>
  <!-- google analytics -->
  <script>
    if (window.ForGoogle) { ForGoogle.analytics() } else { console.log("failure : ForGoogle.analytics()"); }
  </script>

  <!-- 부트스트랩 아이콘 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">


  <!-- 부트스트랩 5.3.x -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>



  <!-- linkify -->
  <script src="https://unpkg.com/linkifyjs/dist/linkify.min.js"></script>
  <script src="https://unpkg.com/linkify-html/dist/linkify-html.min.js"></script>

  <!-- vue.js -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
  <!-- 개발용 (Development) -->
  <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
  <script src="https://unpkg.com/vue@3.5.39/dist/vue.global.js"></script>

  <!-- 배포용 (Production) -->
  <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script> -->

  <!-- 뷰 라우트 -->
  <!-- <script src="https://unpkg.com/vue-router@4/dist/vue-router.global.prod.js"></script> -->
  <script src="https://unpkg.com/vue-router@4.6.4/dist/vue-router.global.prod.js"></script>




  <!-- 페이지 데이터 -->

  <script src="index-questions-data.js"></script>
  <script src="index-solutions-data.js"></script>
  <script src="index-categories-data.js"></script>


  <!-- meta og -->

  <meta property="og:title" content="제과 제빵 기능사 실기 시험">
  <meta property="og:description" content="제과 제빵 기능사 실기 시험">
  <!-- <meta property="og:image" content="http://www.mins01.com/img/logo.gif"> -->
  <!-- <meta property="og:image:width" content="190">
  <meta property="og:image:height" content="70" /> -->
  <meta property="og:site_name" content="제과 제빵 실기 시험" />
  <meta property="og:type" content="website">

  <!-- //meta og -->

  <style>
    .process-summary-grid{
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .c-120 { background-color: #0000ff !important; }
    .c-130 { background-color: #4000ff !important; }
    .c-140 { background-color: #8000ff !important; }
    .c-150 { background-color: #bf00ff !important; }
    .c-160 { background-color: #ff00ff !important; }
    .c-170 { background-color: #ff00bf !important; }
    .c-175 { background-color: #ff0080 !important; }
    .c-180 { background-color: #ff0040 !important; }
    .c-185 { background-color: #ff0020 !important; }
    .c-190 { background-color: #ff0010 !important; }
    .c-200 { background-color: #ff0000 !important; }

    .c-top-160 { background-color: hsl(200, 100%, 50%) !important; }
    .c-top-170 { background-color: hsl(160, 100%, 30%) !important; }
    .c-top-175 { background-color: hsl(120, 100%, 40%) !important; }
    .c-top-180 { background-color: hsl(80, 100%, 60%) !important; }
    .c-top-190 { background-color: hsl(40, 100%, 50%) !important; }
    .c-top-200 { background-color: hsl(0, 100%, 50%) !important; }

    .c-bottom-120 { background-color: hsl(200, 100%, 50%) !important; }
    .c-bottom-130 { background-color: hsl(171.43, 100%, 50%) !important; }
    .c-bottom-140 { background-color: hsl(142.86, 100%, 30%) !important; }
    .c-bottom-150 { background-color: hsl(114.29, 100%, 40%) !important; }
    .c-bottom-160 { background-color: hsl(85.71, 100%, 50%) !important; }
    .c-bottom-185 { background-color: hsl(57.14, 100%, 50%) !important; }
    .c-bottom-190 { background-color: hsl(28.57, 100%, 50%) !important; }
    .c-bottom-200 { background-color: hsl(0, 100%, 50%) !important; }
    .oven-c tr>td{ text-align: center;}
    .oven-c tr>td.label{ text-align: start;}

    .tr-oven{
      font-weight: bold; 
      &:is(
        .pastry_3,
        .pastry_6,
        .pastry_9,
        .pastry_10,
        .pastry_12,
        .pastry_13,
        .pastry_18
      ) .label {
        text-decoration: line-through;
        background-color: #ccc;
      }
    } 


  </style>

</head>

<body>
  <div id="app">
    <div class="container">
      <div class="my-3">
        <h1>제과 제빵 기능사 실기 시험 - 제과 요약표</h1>
        <div class="card my-3">
          <div class="card-body">
            <a class="btn btn-link" href="./index.html">실기 시험</a>
            <a class="btn btn-link" href="./checklist-supplies.html">체크리스트-준비물</a>
            <a class="btn btn-link" href="./summary.html">제빵 요약표</a>
            <a class="btn btn-link" href="./summary-pastry.html">제과 요약표</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container my-3">
      <h4>제과 오븐온도 요약표</h4>
      <div>
        <table class="table table-sm table-bordered oven-c">
          <tr class="text-center table-success">
            <th>위</th>
            <th>아래</th>
            <th>시간</th>
            <th>항목</th>
          </tr>
          <tr class="tr-oven pastry_9"><td class="c-top-160"            >160</td><td class="c-bottom-140">140</td><td>30~35</td><td class="label"><a href="./index.html#/?q2=pastry_9">9. 브라우니</a></td> </tr>
          <tr class="tr-oven pastry_2"><td class="c-top-170" rowspan="6">170</td><td class="c-bottom-150">150</td><td>20~25</td><td class="label"><a href="./index.html#/?q2=pastry_2">2. 버터스펀지 케이크(별립법)</a></td> </tr>
          <tr class="tr-oven pastry_5"><td class="c-top-170" hidden     >170</td><td class="c-bottom-150">150</td><td>20~25</td><td class="label"><a href="./index.html#/?q2=pastry_5">5. 버터스펀지 케이크(공립법)</a></td> </tr>
          <tr class="tr-oven pastry_3"><td class="c-top-170" hidden     >170</td><td class="c-bottom-160">160</td><td>18~20</td><td class="label"><a href="./index.html#/?q2=pastry_3">3. 젤리롤 케이크</a></td> </tr>
          <tr class="tr-oven pastry_4"><td class="c-top-170" hidden     >170</td><td class="c-bottom-160">160</td><td>18~20</td><td class="label"><a href="./index.html#/?q2=pastry_4">4. 소프트롤 케이크</a></td> </tr>         
          <tr class="tr-oven pastry_1"><td class="c-top-170" hidden     >170</td><td class="c-bottom-160">160</td><td>20~25</td><td class="label"><a href="./index.html#/?q2=pastry_1">1. 초코머핀(쵸코컵 케이크)</a></td> </tr>
          <tr class="tr-oven pastry_10"><td class="c-top-170" hidden     >170</td><td class="c-bottom-160">160</td><td>25~30</td><td class="label"><a href="./index.html#/?q2=pastry_10">10. 과일 케이크</a></td> </tr>
          <tr class="tr-oven pastry_15"><td class="c-top-175" rowspan="2">175</td><td class="c-bottom-150">150</td><td>25</td><td class="label"><a href="./index.html#/?q2=pastry_15">15. 시퐁 케이크(시퐁법)</a></td> </tr>
          <tr class="tr-oven pastry_16"><td class="c-top-175" hidden     >175</td><td class="c-bottom-160">160</td><td>22</td><td class="label"><a href="./index.html#/?q2=pastry_16">16. 마데라(컵) 케이크</a><div class="form-text">퐁당 바르고 (2분)</div></td> </tr>
          <tr class="tr-oven pastry_12"><td class="c-top-180" rowspan="5">180</td><td class="c-bottom-160">160</td><td>10~15</td><td class="label"><a href="./index.html#/?q2=pastry_12">12. 다쿠와즈</a></td> </tr>
          <tr class="tr-oven pastry_14"><td class="c-top-180" hidden     >180</td><td class="c-bottom-160">160</td><td>15</td><td class="label"><a href="./index.html#/?q2=pastry_14">14. 흑미롤케이크(공립법)</a></td> </tr>
          <tr class="tr-oven pastry_13"><td class="c-top-180" hidden     >180</td><td class="c-bottom-185">185</td><td>25~30</td><td class="label"><a href="./index.html#/?q2=pastry_13">13. 타르트</a></td> </tr>
          <tr class="tr-oven pastry_19"><td class="c-top-180" hidden     >180</td><td class="c-bottom-190">190</td><td>35~40</td><td class="label"><a href="./index.html#/?q2=pastry_19">19. 호두파이</a></td> </tr>
          <tr class="tr-oven pastry_8"><td class="c-top-180" hidden     >180</td><td class="c-bottom-200">200</td><td>10</td><td class="label"><a href="./index.html#/?q2=pastry_8">8. 슈</a><div class="form-text">위가터지면 180/180 (20분)</div></td> </tr>
          <tr class="tr-oven pastry_7"><td class="c-top-190" rowspan="2">190</td><td class="c-bottom-130">130</td><td>12</td><td class="label"><a href="./index.html#/?q2=pastry_7">7. 쇼트브레드 쿠키</a></td> </tr>
          <tr class="tr-oven pastry_6"><td class="c-top-190" hidden     >190</td><td class="c-bottom-160">160 </td><td>12</td><td class="label"><a href="./index.html#/?q2=pastry_6">6. 마드레느</a><div class="form-text">배꼽이 보이면 -> 180/180 (5분)</div></td> </tr>
          <tr class="tr-oven pastry_17"><td class="c-top-200" rowspan="4">200</td><td class="c-bottom-120">120</td><td>12~14</td><td class="label"><a href="./index.html#/?q2=pastry_17">17. 버터 쿠키</a></td> </tr>
          <tr class="tr-oven pastry_20"><td class="c-top-200" hidden     >200</td><td class="c-bottom-150">150</td><td>10</td><td class="label"><a href="./index.html#/?q2=pastry_20">20. 초코롤케이크</a></td> </tr>
          <tr class="tr-oven pastry_18"><td class="c-top-200" hidden     >200</td><td class="c-bottom-150">150</td><td>10</td><td class="label"><a href="./index.html#/?q2=pastry_18">18. 치즈케이크</a><div class="form-text">오븐문에장갑 -> 150/150(20~30)</div></td> </tr>
          <tr class="tr-oven pastry_11"><td class="c-top-200" hidden     >200</td><td class="c-bottom-160">160</td><td>15</td><td class="label"><a href="./index.html#/?q2=pastry_11">11. 파운드 케이크</a><div class="form-text">기름칼질 ->  180/160(25~30)</div></td> </tr>

        </table>        



        
      </div>
      <!-- <div>
        <template v-for="(v,k) in data.summariesData.pastry_sort_by_ovens">
          <div class="border border-1 rounded p-2 d-flex my-1" style="min-width: 300px; max-width: max-content;">
            <div class="pe-2 me-2 border-end border-1 text-truncate" style="width: 14em;">
              <a  :href="`./index.html#/?q2=${v.key}`">{{v.question.number}}. {{v.question.label}}</a>
            </div>
            <div class="flex-fill"><b>{{v.summary.오븐}}</b></div>
          </div>
        </template>
      </div> -->
    </div>
    <div class="container my-3">
      <h4>제과 반죽법</h4>
      <ul class="list-group">
        <li class="list-group-item">
          <h5 class="text-nowrap m-0">크림법</h5>
          <div>* 손거품기/믹서기 중 하나 사용</div>
          <ol>
            <li>[손거품기/믹서기] 버터를 푼다. (크림치즈가 있다면 같이)</li>
            <li>[손거품기/믹서기] 설탕과 소금을 나누어(2회) 넣는다.</li>
            <li>
              [손거품기/믹서기] 계란을 나눠(계란 1개 분량씩) 넣으면서 크림화한다.
              <div class="form-text">* 계란을 한번에 많이 넣으면 분리 됨!</div>
            </li>
            <li>[주걱] 가루류를 섞는다.</li>
            <li>[주걱] 과일 및 호두 등 섞는다. (재료가 있을 경우)</li>
            <li>[주걱] 액체류를 섞는다.</li>
            <li>[짤주머니] 짤주머니에 넣는다. (필요한 경우)</li>
          </ol>
        </li>
        <li class="list-group-item">
          <h5 class="text-nowrap m-0">공립법(더운 공립법)</h5>
          <ol>
            <li>[손거품기] 계란+설탕+소금을 혼합 후 중탕(38~45도)</li>
            <li>[믹서기] 3단 4~5분으로 90%까지 휘핑 -> 1단 2분으로 거품 정리</li>
            <li>[주걱][믹서기 통] 가루류를 섞는다.</li>
            <li>[주걱][믹서기 통] 과일 및 호두 등 섞는다. (재료가 있을 경우)</li>
            <li>[주걱][믹서기 통] 액체류를 희생반죽과 혼합 후 섞는다.</li>
          </ol>
        </li>
        <li class="list-group-item">
          <h5 class="text-nowrap m-0">별립법</h5>
          <ol>
            <li>
              [손거품기] 노른자를 풀고 설탕(+소금)을 2회 나눠서 휘핑 -> 아이보리색 나올때까지
              <div class="form-text">* 설탕이 다 녹아야한다. * 흰자를 조금 혼합하면 설탕이 더 잘 녹는다.</div>
            </li>
            <li>
              [믹서기] 흰자 + 설탕을 3회 나눠서 머랭을 올린다. (보통 약 90% 머랭이 목표)
              <div class="form-text">* 설탕 B는 ① 거친 거품(약 1분)에 1/2, ② 흰 거품(약 1~2분)에 나머지 1/2, ③ 약간 단단해지면 볼 아래 설탕을 정리하고 나머지를
                넣고 최종으로 돌린다.</div>
              <div class="form-text">* 믹서기 바닥을 정리해서 설탕이 다 녹도록 한다.</div>
              <div class="form-text">* 새부리로 휘어지는 정도가 90%, 안 휘어지면 100%가 넘은 것으로 가루 혼합이 어렵다.</div>
              <div class="form-text">* 다쿠아즈는 100% 머랭으로 한다.</div>
            </li>
            <li>
              [주걱] 노란자 볼에 머링 1/2를 넣고 90% 혼합
              <div class="form-text">* 버터스펀지 케이크는 밀가루가 많아서 2/3을 넣는다.</div>
            </li>
            <li>[주걱] 노란자 볼에 가루류를 넣고 J주걱질로 섞어준다. (최종으로 가루가 보이면 안됨!)(30~40번 이내로)</li>
            <li>
              [주걱] 액체류(물,우유,용해버터)를 희생반죽을 혼합 후 노란자 볼에 섞는다. (10번 이내로)
              <div class="form-text">* 희생반죽은 액체류의 2~3배 사용</div>
            </li>
            <li>[주걱] 나머지 머랭을 넣는고 섞는다.. (머랭이 안 보일 때 까지)(많이 저으면 안됨!)</li>
          </ol>
        </li>
        <li class="list-group-item">
          <h5 class="text-nowrap m-0">시퐁법</h5>
          <div class="form-text">* 별립법의 변형</div>
          <ol>
            <li>
              [손거품기] 노른자를 풀고 설탕(+소금)을 2회 나눠서 혼합 -> 식용류와 액체류 혼합 (설탕이 다 녹음) -> 가루류 혼합
              <div class="form-text">* 반죽에 거품을 올리지 않는다!</div>
              <div class="form-text">* 이 때 가루와 액체류를 넣는다.</div>
            </li>
            <li>
              [믹서기] 흰자 + 설탕을 3회 나눠서 머랭을 올린다. (보통 약 90% 머랭이 목표)
              <div class="form-text">* 주의 사항은 별립법과 같다.</div>
            </li>
            <li>
              [손거품기] 노란자 볼에 머링 1/2를 넣고 가볍게 혼합
            </li>
            <li>
              [주걱] 노란자 볼에 나머지 머링 1/2를 넣고 바닥을 위에 얹듯이 주걱질(J주걱질)
              <div class="form-text">* 노란자의 반죽색이 안보여야함</div>
            </li>
          </ol>
        </li>
        <li class="list-group-item">
          <h5 class="text-nowrap m-0">1단계법(변형)</h5>
          <ol>
            <li>
              1단계법은 모든 재료를 한번에 섞는 방법이다.
            </li>
            <li>
              변형의 경우 한 두개의 재료만 따로 분리해서 처리 후 섞는다.
              <div class="form-text">* 마드레느 : 녹인 버터 (중탕)</div>
              <div class="form-text">* 브라우니 : 버터+초코 (중탕), 견과류 마지막에</div>
            </li>
          </ol>
        </li>
      </ul>

      <ul></ul>
    </div>
    <!-- <div class="container my-3">
      <h4>제과 공정 요약표</h4>
      <ul class="list-group ">
        <template v-for="(vh,kh) in data.summariesData.pastry_body">
          <li class="list-group-item" v-if="data.summariesData.pastry[kh].summary?.공정요약" >
            <h6><a  :href="`./index.html#/?q2=${data.summariesData.pastry[kh].key}`">{{data.summariesData.pastry[kh].question.number}}. {{data.summariesData.pastry[kh].question.label}}</a></h6>
            <div class="process-summary-grid flex-wrap gap-1">
              <div v-for="(vh1,idxh1) in data.summariesData.pastry[kh].summary?.공정요약"  class="border border-1 rounded p-1 px-2 d-flex flex-nowrap gap-1" >
                <div style="min-width:1.5em; flex:0 0 auto;">{{idxh1+1}}.</div>
                <div class="flex-fill">{{vh1}}</div>
                
              </div>
            </div>
          </li>
        </template>
      </ul>
      
      <div >
        
        <div>

        </div>
      </div>
    </div> -->
    <div class="container">
      <h4>제과 요약표</h4>
    </div>
    <div class="container-fluid">
      <table class="table table-bordered mx-auto" style="width: auto;">
        <thead class="sticky-top">
          <tr class="table-success text-center">
            <th class="text-nowrap border border-1 sticky-top  start-0 table-info" style="min-width: 200px;"
              v-for="(v,k) in data.summariesData.pastry_head">{{v}}</th>
          </tr>
        </thead>
        <tbody>
          <template v-for="(vh,kh) in data.summariesData.pastry_body">
            <tr>
              <template v-for="(v,idx) in vh">
                <th v-if="idx==0" class=" border border-1 table-success position-sticky start-0 text-center text-nowrap"
                  style="white-space: break-spaces;" >
                  <a :href="`./index.html#/?q2=${data.summariesData.pastry[kh].key}`">{{v}}</a>
                </th>
                <td v-else class=" border border-1 text-center" style="white-space: break-spaces;">{{v}}</td>
              </template>
            </tr>
          </template>
        </tbody>
      </table>
    </div>

  </div>








  <script src="summary-app.js">

  </script>
  <script>
    window.addEventListener('hide.bs.modal', () => {
      document.activeElement?.blur();
    });
  </script>
</body>

</html>